.div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;

  :hover {
    background-color: #f0ffff;
    border: 1px solid;
  }
}

.input {
    max-width: 350px;

}
